*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: indigo;
  background-image: url(https://images.unsplash.com/photo-1528360983277-13d401cdc186?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.main-heading {
  text-align: center;
  margin-top: 10px;
  font-size: 5.7em;
  color: yellow;
  text-shadow: 2px 2px 5px black;
  backdrop-filter: blur(8px);
  Border-radius: 10px;
  padding: 20px;
  font-family: 'Brush Script MT', cursive;
  margin: auto;
}


.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  flex-wrap: wrap;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid indigo;
  background: linear-gradient(to bottom, rgb(119, 7, 119), indigo);
  color: yellow;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

.search-bar input[type="text"]::placeholder {
  color: lightyellow;
}

.search-bar button {
  padding: 10px 18px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid yellow;
  background-color: rgb(119, 7, 119);
  color: yellow;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.search-bar button:hover {
  background-color: rgb(117, 25, 183);
  color: white;
}


.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  width: 150px;
  padding: 12px 0;
  background-color: indigo;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: all 0.4s ease;
}

.reg,
.log {
  color: rgb(187, 49, 234);
  border: 1px solid rgb(70, 67, 92);
  background-color: white;
}

button:hover {
  color: rgb(241, 19, 241);
  background-color: indigo;
  box-shadow: 0 0 20px rgba(125, 109, 215, 0.6);
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(160, 65, 255);
  
.section {
  padding: 40px 20px;
}

.section-divider {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 60px 0;
}

}


.section section {
  background: linear-gradient(to bottom, rgb(119, 7, 119), indigo);
  color: yellow;
  margin: 40px auto;
  border: 10px solid black;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.section section h2 {
  margin: 20px; 
  padding: 10px;
  border-radius: 10px;
}

/* paragraphs */
p {
  margin-top: 20px;
  line-height: 1.6;
}

p a {
  color: black;
  text-decoration: none;
}

.container div > p span {
  color: red;
}


@media (max-width: 1024px) {
  .container {
    justify-content: center;
  }

  .search-bar {
    flex-direction: column;
  }

  button {
    width: 80%;
    max-width: 300px;
  }

  .main-heading {
    font-size: 2em;
  }
}
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}


