/* Page background and text */

section {
  background-image: linear-gradient(to right, violet, purple); 
  border-radius: 20px;
  color: yellow;    
  margin: 20px;           
  border: 10px solid black;           
  
}

h2{

  background-image: linear-gradient(to right, violet, purple); 
  border-radius: 20px;
  color: yellow;    
  margin: 20px;           
  border: 10px solid black;           
  
}

body {
  background-image: url(https://www.haystravel.co.uk/mediaLocal/twwjephx/osaka-japan3.jpg);
  background-position: center 50%;
  background-size: cover;
  font: bold;
  /* Task: Add a background color (e.g., lightgrey) */
  /* font-family: ;   
  Task: Try changing the font (e.g., Arial, sans-serif) */

  
  color: yellow;         
  /* Task: Add a text color for the body (e.g., black) */
}
 
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input{

  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
}

textarea{

  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
}

input:focus-within {
outline: none;
border-color: yellow;
border-width: 3px;

}

textarea:focus-within {
outline: none;
border-color: yellow;
border-width: 3px;

}

button {

  background-color: yellow;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  justify-content: center;
  display: flex;
  margin: auto;
}


button:hover {
  opacity: 80%;
  cursor: pointer;
}

div {
  background-image: url(https://img.freepik.com/premium-photo/wall-stone-texture-seamless_773315-2594.jpg);
  border-radius: 20px;
  width: 50%;
  color: yellow;
  margin: 20px auto; /* this centers the whole div horizontally */
  border: 10px solid black;
  background-position: center;
  font-family: 'Times New Roman', Times, serif;
}

